<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->            
    
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/monitor/images/logominsal.png') }}" />

    <title>{% block title %}Cliente WS Semantikos - PHP{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/semantikosclient/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/semantikosclient/css/simple-sidebar.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/semantikosclient/css/font-awesome.min.css') }}" rel="stylesheet">
    
    <!-- Jquery-ui core CSS -->                        
    <link href="{{ asset('bundles/semantikosclient/js/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">          
    {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/semantikosclient/images/logominsal.png') }}" />
        <style type="text/css">
   
             .navbar .divider-vertical {
                height: 50px;
                margin: 0 9px;
                border-right: 2px solid #ffffff;
                border-left: 2px solid #f2f2f2;                
            }

            .navbar-inverse .divider-vertical {
                border-right-color: #222222;
                border-left-color: #111111;
            }

            @media (max-width: 767px) {
                .navbar-collapse .nav > .divider-vertical {
                    display: none;
                 }
            }
                        
            .navbar-form select{                
                margin-right: 10px;                                
            }
            
            .navbar-form label{                
                font-size: 14px;                                
                font-weight: normal;
            }
            
            
            .tab-content .tab-pane .highcharts-container {
                border: 1px solid graytext;
            }
            

            .tab-content > .tab-pane:not(.active) {
                display: block;
                height: 0;
                overflow-y: hidden;
            }         
                                    
            input.text { margin-bottom:12px; width:95%; padding: .4em; }            
            
            .fa-spin-custom, .glyphicon-spin {
                -webkit-animation: spin 1000ms infinite linear;
                animation: spin 1000ms infinite linear;
            }

            .spin{
                -webkit-transform-origin: 50% 58%;
                transform-origin:50% 58%;
                -ms-transform-origin:50% 58%; /* IE 9 */
                -webkit-animation: spin .2s infinite linear;
                -moz-animation: spin .2s infinite linear;
                -o-animation: spin .2s infinite linear;
                animation: spin .2s infinite linear;
           }
           
           @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(359deg);
                    transform: rotate(359deg);
                }
            }
            @keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(359deg);
                    transform: rotate(359deg);
                }
            }
            
            .loader {
                margin-left:8px;
            }            

            .myTitleClass .ui-dialog-titlebar {
                background:#337ab7;
                border-color: #337ab7;
                border-top-color: rgb(51, 122, 183);
                border-right-color: rgb(51, 122, 183);
                border-bottom-color: rgb(51, 122, 183);
                border-left-color: rgb(51, 122, 183);
            }
            
            .myTitleClass .ui-dialog-title {
                color: white;
            }
            
            .operations {
                cursor: pointer;
            }
            
            
        </style>
  </head>

  <body data-spy="scroll" data-target=".navbar-default" style="background-color:rgb(245, 245, 245)">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a target="_blank" class="navbar-brand" href="http://www.minsal.cl"><img style="max-width:100%;max-height:100%;" src="{{ asset('bundles/semantikosclient/images/MINSAL-CENABAST.png') }}" alt="MINSAL"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">                        
            <li class="{% if app.session.get('active') == 'search_index'%}active{% endif %}">
                <a href="{{ path('search_index') }}">Servicios de Búsqueda</a></li>
            <li class="{% if app.session.get('active') == 'entrance_index'%}active{% endif %}">
                <a href="{{ path('entrance_index') }}">Servicios de Ingreso</a></li>                        
            <li class="{% if app.session.get('active') == 'relationship_index'%}active{% endif %}">
                <a href="{{ path('relationship_index') }}">Servicios de Relacionados</a></li>     
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <b class="caret"></b></a>                    
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_profile_show')}}">Perfil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                </li>
            </ul>             
        </div><!--/.nav-collapse -->
      </div>
    </nav>
             
    <div class="container">
        <div class="row">
            <div id="sidebar" class="col-md-2 sidebar">
                <ul class="nav nav-sidebar">                                                                       
                    <li id="content">
                        {% block operaciones %}
                        {% endblock %}                        
                    </li>                                            
                </ul>                            
            </div>   
            <div class="col-md-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    <script src="{{ asset('bundles/semantikosclient/js/jquery-1.12.1.min.js') }}"></script>
    <script src="{{ asset('bundles/semantikosclient/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/semantikosclient/js/jquery-ui/jquery-ui.min.js') }}"></script>                   
    
    {% block javascripts %}
    <script>             
    </script>
    {% endblock %}
  
  </body>
</html>